

.pagefield-superior
  .row
    .span12
      .pagefield-left
        .span4
          %h1.pagetitle Jämför gratis SMSlån
          %p.fonts Att ta SMSlån för första gången kan vara ovant, men flera långivare kostnadsfria lån till nya kunder.
          %p.fonts Nedan listas SMSlån som ges gratis. Klicka på rubrikerna för att sortera. Håll ner ctrl-knappen om och klicka på rubrikerna om du vill sortera flera kolumner samtidigt.

        .span5
          %img{:alt => "Laboratory", :src => "laboratory2.jpg", :style => "width: 80%"}/

        .span8.top-buffer
          %table#table_id_gratislan
            %thead
              %tr 
                %th Lånebelopp
                %th Löptid
                %th Långivare
                %th Ansök här
            %tbody
              %tr
                %td 500 kr
                %td 30 dagar
                %td
                  %a.linkclass{:href => "http://www.ferratum.se"} Ferratum
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 1000 kr
                %td 30 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Ferratum
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök                
              %tr
                %td 2000 kr
                %td 30 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Ferratum
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 3000 kr
                %td 30 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Ferratum
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 4000 kr
                %td 30 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Ferratum
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 5000 kr
                %td 30 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Ferratum
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 6000 kr
                %td 30 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Ferratum
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 7000 kr
                %td 30 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Ferratum
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 8000 kr
                %td 30 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Ferratum
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 9000 kr
                %td 30 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Ferratum
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 10000 kr
                %td 30 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Ferratum
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 11000 kr
                %td 30 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Ferratum
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 12000 kr
                %td 30 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Ferratum
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 13000 kr
                %td 30 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Ferratum
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 14000 kr
                %td 30 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Ferratum
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 15000 kr
                %td 30 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Ferratum
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 1000 kr
                %td 14, 21 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Vivus
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 2000 kr
                %td 14, 21 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Vivus
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 3000 kr
                %td 14, 21 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Vivus
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 5000 kr
                %td 14, 21 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Vivus
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 6000 kr
                %td 14, 21 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Vivus
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr
                %td 500 kr
                %td 14 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Viaconto
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
              %tr.bottom-buffer
                %td 1000 kr
                %td 14 dagar
                %td 
                  %a.linkclass{:href => "http://www.ferratum.se"} Viaconto
                %td
                  %a.btn.btn-success.btn-large{:href => "http://www.ferratum.se/", :target => "_blank"} Ansök
