// move action for buttonclick smsbutton here. otherwise it switches when user changes sliders.
//ues code to filter away rows with empty cells.
// fast when loading page now, but a it slow loading whn fltering. Minify js here or perhaps make the code in partials smaller.
//loading order of css onpage.

//= require jquery
//= require jquery_ujs


//= require jquery-ui

$('#div_id').html("<%= escape_javascript(render :partial => 'smslan2') %>");

$('#table_id tr').filter(function() {
    return $(this).find('td:visible:not(".smsloangiver")').filter(function() {
      return ! $.trim($(this).text());  
    }).length;
}).hide();


//Code copied from showHideProducts. If one checks a checkbox after a filter search then does another, then the checkbox is still in effect.
$('input:checked').each(function() {
  $('table_id td:contains("' + $(this).val() + '")').parent().hide();
});

//This checks if there are any loangivers offering a loan for 
var rowCount = $('#table_id tr:visible').size()

if (rowCount === 1){
  $("#tryagain1").replaceWith('<p class="try-again content-top3">Tyvärr fanns ingen långivare som erbjuder det lån du sökte efter!</p>');
  $("#tryagain2").replaceWith('<p class=try-again>Pröva att ändra lånebelopp eller löptid.</p>');
  $("#tryagain3").replaceWith('<p class=try-again>Klicka ur några kryssrutor kan också hjälpa.</p>');
}
