// move action for buttonclick smsbutton here. otherwise it switches when user changes sliders.
//ues code to filter away rows with empty cells.
// fast when loading page now, but a it slow loading whn fltering. Minify js here or perhaps make the code in partials smaller.
//loading order of css onpage.

//= require jquery
//= require jquery_ujs
//= require jquery-ui
//= require_self
//= require_tree .





//MOCKUP DESIGN
//https://wireframe.cc/50sd16

$('#div_id').html("<%= escape_javascript(render :partial => 'smslan2') %>");
$('#sortThis').find('.first-top:visible').css('margin-top','-70px');

// REMOVED THIS CODE, BECAUSE AFTER TRYING TO APPLY .ex1 css only to serch results table rather than overview table
// the search results was hiding rows that waas not empty.
//$('tr').filter(function() {
//    return $(this).find('td:visible:not(".smsloangiver")').filter(function() {
//      return ! $.trim($(this).text());  
//    }).length;
//}).hide();


//Code copied from showHideProducts. If one checks a checkbox after a filter search then does another, then the checkbox is still in effect.
$('input:checked').each(function() {
  $('td:contains("' + $(this).val() + '")').parentsUntil(".smsloanoverview").hide();
});

//This checks if there are any loangivers offering a loan for 
rowCount = $('#table_id2 tr:visible').size();

//if ($('#table_id2 tr:visible').size() === 0){
//  $(this).hide();
//}

var t14d = ($('#table14d tr:visible').size());
var t21d = ($('#table21d tr:visible').size());
var t30d = ($('#table30d tr:visible').size());
var t60d = ($('#table60d tr:visible').size());
var t90d = ($('#table90d tr:visible').size());
var t1y = ($('#table1y tr:visible').size());


// Hides titles of loantime groups if there are no results in the group
// Hides the corresponding option in the bar appearing after a search.
if (t14d === 0){
  $('.table14d').hide();
  $('.group_14d').hide();
}else{
  $('.table14d').show();
  $('.group_14d').show();
}

if (t21d === 0){
  $('.table21d').hide();
  $('.group_21d').hide();
}else{
  $('.table21d').show();
  $('.group_21d').show();
}

if (t30d === 0){
  $('.table30d').hide();
  $('.group_30d').hide();
}else{
  $('.table30d').show();
  $('.group_30d').show();
}

if (t60d === 0){
  $('.table60d').hide();
  $('.group_60d').hide();
}else{
  $('.table60d').show();
  $('.group_60d').show();
}

if (t90d === 0){
  $('.table90d').hide();
  $('.group_90d').hide();
}else{
  $('.table90d').show();
  $('.group_90d').show();
}

if (t1y === 0){
  $('.table1y').hide();
  $('.group_1y').hide();
}else{
  $('.table1y').show();
  $('.group_1y').show();
}


// Adjusts distance of scrolltToTop i relation to barshowgroup.
var barshowheight = $(".barshowgroup").height();
var barshowheight2 = barshowheight + 15
$('.scrollToTop').css("margin-top", barshowheight2); 



// Shows this message if there are no results that match the search.
if (t14d === 0 && t21d === 0 && t30d === 0 && t60d === 0 && t90d === 0 && t1y === 0){
  $("#tryagain1").replaceWith('<p class="try-again content-top3" id="tryagain1">Tyvärr fanns ingen långivare som erbjuder det lån du sökte efter!</p>');
  $("#tryagain2").replaceWith('<p class=try-again>Pröva att ändra lånebelopp eller klicka ur några kryssrutor.</p>');
  $("#tryagain3").replaceWith('<p class=try-again></p>');
  $('.barshowgroup').hide();
}




// Use the navbar after doing a search, to scroll down to the corresponding loantime group.
$(".group_14d").click(function() {
        $('html,body').animate({
            scrollTop: $(".table14d").offset().top - 50},
            'slow');
    });
      
$(".group_21d").click(function() {
        $('html,body').animate({
            scrollTop: $(".table21d").offset().top - 50},
            'slow');
    });

$(".group_30d").click(function() {
        $('html,body').animate({
            scrollTop: $(".table30d").offset().top - 50},
            'slow');
    });
      
$(".group_60d").click(function() {
        $('html,body').animate({
            scrollTop: $(".table60d").offset().top - 50},
            'slow');
    });

$(".group_90d").click(function() {
        $('html,body').animate({
            scrollTop: $(".table90d").offset().top - 50},
            'slow');
    });

$(".group_1y").click(function() {
        $('html,body').animate({
            scrollTop: $(".table1y").offset().top - 50},
            'slow');
    });

//Shows bar when page loads after a search, so you don't have to scroll to see it.
$('.barshowgroup').fadeIn();


$(window).scroll(function(){
  if ($(this).scrollTop() > 50 && $('#horizontal-list-groupbar').length) {
    $('.barshowgroup').show();
  } else {
    $('.barshowgroup').fadeOut();
  }
});

//Brings back the titles of the loantime groups in a search results if after de-selecting a checkbox
// and and a loantime group is revealed again.
$('.smslanchkbx').onchange(function(){

});





$('.table14d').hide();
$('.table21d').hide();
$('.table60d').hide();
$('.table90d').hide();
$('.table1y').hide();
