affiliate links

<a class="btn btn-success btn-large" id="affiliatelink" href="http://www.vivus.se????" target="_blank">Ansök</a>

<a class="btn btn-success btn-large" id="affiliatelink" href="https://track.adtraction.com/t/t?a=195006628&as=1090730078&t=2&tk=1????” target="_blank">Ansök</a>
