%h1 Kontakt

%ul
  - 3.times do
    %li list item

//http://www.tutorialspoint.com/ruby/eruby.htm


%p.content-top Har du feedback, önskemål eller vill anmäla ett fel. 
%p Vänligen mejla oss på admin(at)sparranta.nu
