<h1>This is The Page</h1>
<%= form_tag("/someajax", method: 'post', :remote => true) do %>
<%= link_to "Jämför lån", thepage_path, :remote => true %>
<% end %>



<div id="renderpartialform">

</div>
