%ul.nav.nav-tabs{"data-tabs" => "tabs"}
  %li.active
    %a{:href => "#Bolån"} Bolån
  %li
    %a{:href => "#Privatlån"} Privatlån
  %li
    %a{:href => "#SMSlån"} SMS lån

%ul.nav.nav-pills
  %li.active
    %a{:href => "lanerantor"} Jämför bolåneräntor
  %li
    %a{:href => "lankalkylator"} Lånkalkylator
  %li
    %a{:href => "#"} Fast vs rörlig ränta


%h1 Låneräntor

%ul.buttons
  %li
    %button{:type => "Bolån"} Bolån
  %li
    %button{:type => "Privatlån"} Privatlån
  %li
    %button{:type => "SMS lån"} SMS lån
  %li
    %button{:type => "Övrigt"} Övrigt
