/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 800px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

table {
  background-color: white;
  width: 100%;
  font-size: 12.5px;
}

tbody td {
  background-color: white;
  padding-top: 4px;
  padding-bottom: 4px;
}

tbody td.odd {
  background-color: #E0E0E0;
}

td.hovered {
  /* background-color: #ADD866; */
  /* background-color: #CCE99D; */
  background-color: lightblue;
  color: #666;
}

/* For column sorting */
th.sortable {
    color: #666;
    cursor: pointer;
    text-decoration: underline;
}
th.sortable:hover { color: black; }
th.sorted-asc, th.sorted-desc  { color: black; }

/* My personal design */

tbody th {
  width: 100px;
}

.column-center {
  text-align: center;
  padding-left: 10px;  
}

.content-top {
  margin-top: 20px;
}

.grey-title {
 color: rgba(174, 174, 174, 1);
 /* color: #08C;*/
}

.rates-padding{
  width: 0px;
}

.rates-padding2{
  padding-right: 5px;
}

.bank-padding{
  padding-right: 5px;
}

.top-buffer{
  padding-top: 30px;
}

.list-font{
  font-size: 17px;
  font-weight: bold;
}

.facebook-likes{
  padding-right: 300px;
}

.google-likes{
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 50px;
}

.paragraph-break{
  padding-top: 15px;
}

.list-space{
  padding-right: 50px;
}

img  {
    float: left;
    padding-right: 10px;
} 

/* For the loancalculator page */

.box{
  padding-right: 50px;
  padding: 10px;
  display: none;
  margin-top: 20px;
/*  border: 1px solid #000; */
}

.radiobutton{
  padding-left: 15px;
  display: inline-block
}

.radiobuttonfield{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.warning-number{
  padding-bottom: 10px;
  color: grey;
}

.loancalculator{
  text-align: center;
}

.submitloanbutton{
  padding-top: 1px;
}
