%h1 Landets räntor

<script type="text/javascript" src="http://www.ekonomifakta.se/Templates/Pages/HTMLWidget.aspx?id=5370&epslanguage=sv?w=6" charset="utf-8"></script>


<script type="text/javascript" src="http://www.ekonomifakta.se/DiagramJS.aspx?id=15496&epslanguage=sv&did=15497" charset="utf-8"></script>

<script type="text/javascript" src="http://www.ekonomifakta.se/DiagramJS.aspx?id=1553&epslanguage=sv&did=1554" charset="utf-8"></script>
