%h1 Sparguide – 4 steg att förbättra ditt sparande
Här är en guide över hur du kan lyckas med ditt sparande. Sparande kan låta trist för många, men om du läser vidare kan du lära dig att du faktiskt kan få en passiv inkomst genom ditt sparande.

%ol.list-font.top-buffer
  %li Kategorisera dina intäkter och kostnader
  %li Sätt upp en budget
  %li Reflektera över ditt eget behov
  %li Spara på sparkonto

%h2.top-buffer Kartlägg och kategorisera ditt sparande

%p Ett av de mest grundläggande sätten att hålla koll på ditt sparande är att använda ett excel dokument där du delar in din ekonomi i utgifter och kostnader. Sedan kan du dela upp dina inkomster i olika kategorier som lön m.m. Dina utgifter kan du kategorisera i vad man skulle kunna kalla fasta kostnader som hyra, el, TV-avgift, bredband, mobilräkning, medlemsavgifter i fack och a-kassa m.m. Dessa är exempel på kostnader som du oftast måste betala varje månad oavsett vad som händer. Så klart kan du välja att inte ha tv och slippa TV-avgift utan istället använda sidor som SVT play, TV4 Play, HBO Nordic filmnet.

%p Sedan har du ofta "rörliga kostnader", dvs kostnader som du faktiskt har ett större val om du vill konsumera. Bland dessa kostnader finns, kläder, snabbmat, prylar, tidningar, pubrundor, bussresor m.m.

%p Om du inte är speciellt förtjust i excel utan föredrar appar så finns det flera alternativ. Har du ett lönekonto på Swedbank kan du ladda ner deras app till din tablet och använda. Appen kategoriserar autmatiskt dina utgifter som gjorts från ditt konto. Där kan du enkelt få en översikt över ditt totala sparande. Visst pillande kan behövas för att se till att appen kategoriserar dina utgifter rätt. Det finns även ett antal appar som du kan ladda ner och använda t.ex. 

%h2.top-buffer Sätt upp en budget
%p Sätt upp en budget för dig själv så du begränsar ditt spenderande och ökar dit sparande. De fasta kostnader som hyra, el m.m. kan du inte göra så mycket för att påverka, men utgifter som livsmedel, äta ute på restaurang eller pub, kläder etc., med andra ord allt som du verkligen inte måste konsumera, kan du göra mycket för att begränsa. Kläder brukar vara en stor bov som tar pengar från ditt månatliga sparande. Samma gäller att välja ät lunch ute flera dagar i veckan.

%p Exempel på månadsbudget

%div{:style => "float: left; width: 30%;"}
  %ul{:style => "list-style-type:none"}
    %li Lön efter skatt
    %li Hem (Hyra, el)
    %li Försäkringar
    %li Bredband, TV, telefoni
    %li Livsmedel
    %li Resor
    %li Äta ute
    %li Nöje/extra
    %li 
      %b> Sparad summa

%div{:style => "float: right; width: 70%;"}
  %ul{:style => "list-style-type:none"}
    %li 17 500 kr
    %li -5000 kr
    %li -300 kr
    %li -700 kr
    %li -2000 kr
    %li -500 kr
    %li -1000 kr
    %li -1000 kr
    %li 
      %b> 7000

%p Exempel på nöjen och kostnader du kan kontrollera: Spotify, filmnet, hur ofta du klipper dig, ny vinterjacka, nya skor för vårsäsongen, hälsoprodukter, hud- och hårvårdsprodukter, systembolaget, gym- eller övriga träningskostnader, bio, hyrfilm, biljard,"bra att ha saker" från Ikea, Clas Ohlson eller apokeket m.m. Listan kan göras oändlig.

%p En mer strikt metod för att spara är att man sätter en gräns för hur mycket man vill spara varje månad. Exempelvis tar man 5000 kr så fort man får lön och sätter in dem på ett sparkonto som då är separerat från sitt lönekonto. Sedan gäller det bara att försöka få sin ekonomi att gå ihop med det man har kvar. Det borde garantera att man har ett fast belopp avsatt varje månad.

%h2.top-buffer Reflektera över ditt eget behov
%p Vi ofta bra på att rättfärdiga köp som vi kanske inte behöver göra. Önskemål har en tendens att bli behov. Om man exempelvis hittar en snygg tröja och tänker att man skulle vilja köpa den tillräckligt länge kan man börja känna att man har ett behov att köpa den. Samma sak kan gälla New York resan man önskar göra. Efter att tänkt på det och börjat småplanera den för skojs skull kan man börja känna att man inte kan tänka sig att inte göra den. 
%p Ett annat exempel på hur man kan börja rättfärdiga att man behöver saker som egentligen inte är nödvändiga för ändamålet är: "Jag har tänkte börja spara i aktier, men det är så jobbigt att sitta vid datorn att analysera. Om jag köpte en ipad så skulle jag kunna vara mer produktiv." Antagligen kände du något som gjorde att du ville köpa en ipad, snarare än att du hade ett rationellt behov av den. Ditt känslomässiga tänkade maskerades som ett rationellt påstående till dig själv.

%p Man tänker ofta att något man köper kommer att göra en lyckligare eller lösa ett visst behov man har eller känner, men effekten är ofta kortvarig. Om man strävar efter att köpa något så kan det ge en lyckokänsla, men vi har en förmåga att anpassa vår upplevda lycka och efter ett tag är vi tillbaks på samma nivå av lycka efter köpet som vi var innan. Därför bör man rationellt reflektera över de köp man gör snarare än att känslomässigt följa konsumtionslusten. Tänk "Behöver jag verkligen detta?"

%p Genom att reflektera mer nogrannt kan man bli av med en hel del stora och onödiga utgifter. Läs mer i Så kan alla svenskar bli miljonärer av Per H. Börjesson för mer tips.

%h2.top-buffer Spara på sparkonto
%p När du väl fått ihop ett belopp sparar varje månad vill du så klart motverka att inflationen urholkar värdet på sina surt förvärvade penningar. Riksbankens mål är att uppehålla en inflation på 2% om året, vilket innebär att värdet på dina pengar minskar med 2% per år. Just nu i skrivande stund är det deflation i Sverige, vilket innebär att värdet på dina pengar ökar. 

%p Om du lyckas få ihop en anselig summa pengar som exempelvis 100 000 kr eller mer kan det börja spela stor roll hur mycket du kan få i sparränta per år. Med en hög sparränta som 10% kan du få så mycket som 10 000 kr per år, vilket kanske motsvarar en ny TV, en resa till New York med hotell eller andra "engångskostnader" du kan ha på ett kalenderår. Så det är inte bara att man motverkar inflation utan man kan rent av tjäna pengar passivt genom flitigt sparande.

%p Du kan använda bästasparräntor.se för att hitta den mest förmånliga sparräntan på ett sparkonto med villkor som passar dig. För de som tänker på ett mer långsiktigt sparande och vet att de inte har ett behov av ett flytande kapital på flera månader eller år så kan de binda upp sitt sparande. Medan andra vil kunna vara mer flexibla och ha ett sparkonto där man kan göra fria uttag. Sedan finns det ett antal olika kombinationer där man kan få göra ett antal fria uttag per år eller att man betalar en mindre summa för att göra uttagen m.m.
