%ul.buttons.big-buttons-positon
  %li
    %button{:type => "Bolån"} Bolån
  %li
    %button{:type => "Privatlån"} Privatlån
  %li
    %button{:type => "SMS lån"} SMS lån
  %li
    %button{:type => "Övrigt"} Övrigt
