- content_for :title, "Om Bästasparräntor.se"
%meta{:content => "Bästasparräntor.se är en tjänst som hjälper dig jämföra och hitta de bästa sparräntorna", :name => "description=Bästa sparräntor [site:bästasparräntor.se/om/]"}/

.pagefield-superior
  .row
    .span6
      .pagefield-left
        %h1.pagetitle Om Moneyfinder.se

        %p.content-top.fonts Moneyfinder.se hjälper dig hitta och jämföra olika finansiella produkter och tjänster.
        %p.fonts Om du har frågor, önskar att synas som annonsör på vår webbplats eller bara allmänna funderingar kring vår tjänst välkomnar vi dig att kontakta oss genom att skicka ett mejl till info@moneyfinder.se
    

    .span2.primarch-buffer2
      .pagefield-right
        .row
          .span1
