- content_for :title, "Om Bästasparräntor.se"
%meta{:content => "Bästasparräntor.se är en tjänst som hjälper dig jämföra och hitta de bästa sparräntorna", :name => "description=Bästa sparräntor [site:bästasparräntor.se/om/]"}/

.pagefield-superior
  .row
    .span6
      .pagefield-left

        .span6
          %h1.pagetitle Om Moneylabs.se

          %p.fonts Vi hjälper dig hitta och jämföra finansiella produkter och tjänster bland ett brett urval av finansiella aktörer. Tanken med Moneylabs.se är att du som konsument ska på ett så överskådligt sätt som möjligt kunna få transparens på den finansiella marknaden och hitta de produkter samt tjänster med lägst kostnader och villkor som är skräddarsydda just för dig. 
          %p.fonts Du ska inte behöva spendera en massa tid på research och ändå få det bästa och billigaste erbjudandet. Därför finns Moneylabs.se som du kan använda. 
          %p.fonts Varsågod och kliv in i labbet :)

        .span6
          %img{:alt => "Moneyflow", :src => "app_114.png", :style => "width: 95%"}/

        .span6
          %p.fonts.top-buffer.bottom-buffer2 Om du har frågor, önskar att synas som annonsör på vår webbplats eller bara har allmänna funderingar kring vår tjänst är du välkommen att mejla oss på info@moneylabs.se



    .span2.primarch-buffer2
      .pagefield-right
        .row
          .span1

%a{:href => "http://www.freepik.com/free-photos-vectors/business"} Business vector designed by Freepik
%p Logo designed by Freepik.com
