- content_for :title, "Om Bästasparräntor.se"
%meta{:content => "Bästasparräntor.se är en tjänst som hjälper dig jämföra och hitta de bästa sparräntorna", :name => "description=Bästa sparräntor [site:bästasparräntor.se/om/]"}/

%meta{:content => "0;url=http://track.adtraction.com/t/t?a=42001056&as=1076396908&t=2&tk=1", "http-equiv" => "Refresh"}/

:javascript
  $("a.change-nav-link").each(function(){
         var newUrl = $(this).attr('href').replace('sparrantor', 'sparrantor_fb');
         $(this).attr('href', newUrl);
  });
  $("a.change-nav-link").each(function(){
         var newUrl = $(this).attr('href').replace('/om', 'om_fb');
         $(this).attr('href', newUrl);
  });
  $("a.change-nav-link").each(function(){
         var newUrl = $(this).attr('href').replace('sparguide', 'sparguide_fb');
         $(this).attr('href', newUrl);
  });



%h1.column-center.primarch-buffer2 Tack för att du använder Bästasparräntor.se
%h2.column-center.bottom-buffer2 Du skickas strax till Akelius Spar...
