<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="VtdEH7zhYHz6CaihcENT2lRMqI0BR8wq5uX55UWYMl8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Jämför sparräntor och inlåningsräntor" content="">
    <meta name="Bästa sparräntor" content="">
    <title>Bäst sparräntor - Jämför och hitta högsta sparräntor och inlåningsräntor hos bl.a. 4spar, Swedbank, Nordea.</title>
      <link rel='stylesheet' type='text/css' href='stylesheet.css'/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>

  </head>

  <body>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="sparrantor">Sparräntor</a></li>
          <li><a href="om">Om Bästasparräntor.se</a></li>
        </ul>
        <h3 class="grey-title">Bästasparräntor.se</h3>
      </div>

      <hr>
      <div class="content">
        <%= yield %>
      </div>
      <hr>

      <div class="footer">
        <p>&copy; Bästasparräntor.se 2014 All rights reserved</p>
      </div>

    </div> <!-- /container -->


  </body>
</html>
